@page "/resincl"
@inject HttpClient Http

<PageTitle>PBO load</PageTitle>

<h1>PBO load</h1>

<p>This component demonstrates fetching data from another mod's PBO by loading "\a3\ui_f\hpp\defineresincl.inc"</p>

@if (content == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <textarea>@content</textarea>
}

@code {
    private string? content;

    protected override async Task OnInitializedAsync()
    {
        content = await Http.GetStringAsync("/a3/ui_f/hpp/defineresincl.inc");
    }
}
