
@keyframes anim_pop-in {
    0% { opacity: 0; transform: scale(0.1); }
    50% { opacity: 1; transform: scale(2) rotate(90deg) translate3d(-600px, 0, 0);  }
    100% { opacity: 1; transform: scale(1) rotate(0deg) translate3d(0, 0, 0); }
}

#app {
    float: right;
    height: 600px;
    width: 600px;

    display: flex;
    flex-direction: column;
    margin-top: 8vh;
    justify-content: flex-start;
    align-items: end;
    padding-right: 50px;
}

.killTrackerRow {
    animation:anim_pop-in 0.8s;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    img {
        flex-grow: 0.2;
        max-height: 30px;
    }

    span {
        font-size: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

