$rotationSpeed: 4s;

.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #222;
  
  box-shadow: (
    inset 0 0 0 99px #222,
    inset 0 0 0 100px rgba(#0F0, .2),
    inset 0 0 0 199px #222,
    inset 0 0 0 200px rgba(#0F0, .2),
    inset 0 0 0 299px #222,
    inset 0 0 0 300px rgba(#0F0, .2)
  );
  border-radius: 50%;
  transform: rotate(0deg);
  overflow: hidden;
  height: 99.6vh; // With 100%, we get our border cut off at the edges
  //height: 512px;
  aspect-ratio: 1;
  border: 1px solid #393;
  
  .scanner {
    animation: scanning $rotationSpeed infinite linear;
    background-image:
      linear-gradient(
        to top right,
        #0F0 0%,
        transparent 50%
      )
    ;
    transform-origin: top left;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    border-left: 1px solid rgba(#0F0, .1);
  }
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: rgba(#0F0, .2);
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(#0F0, .2);
  }
  
  .something {
    list-style: none;
    
    li {
      animation: target $rotationSpeed infinite linear;
      border-radius: 50%;
      box-shadow: 0 0 10px #AFA;
      opacity: 0;
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      background: #AFA;
      margin: -5px; // Center it on the position that we assign to it

      span {
        color: #0F0;
        text-wrap: nowrap;
        position: relative;
        top: -10px;
        left: 10px;
        font-size: 15px;
      }
    }
    
    .friend {
      //box-shadow: 0 0 10px blue;
      background: rgb(57, 92, 252);

      span {
        color: rgb(57, 92, 252);
      }
    }

    .enemy {
      box-shadow: 0 0 10px red;
      background: red;

      span {
        color: red;
      }
    }
  }
}

@keyframes scanning {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes target {
  1% {
    opacity: .5;
    //transform: scale(2.5);
  }
  3% {
    opacity: 1;
    //transform: scale(1.5);
  }
  60% { // This percentage controls how long the blip is visible
    opacity: 0;
    //transform: scale(.6);
  }
}